<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>create_table :${1:table} do |t|
    $0
end</string>
	<key>name</key>
	<string>Create Table</string>
	<key>scope</key>
	<string>source.ruby.rails</string>
	<key>tabTrigger</key>
	<string>mtab</string>
	<key>uuid</key>
	<string>59A47C33-97C5-411D-ADBE-ABD2324BD130</string>
</dict>
</plist>
