<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>add_column :${1:table}, :${2:column}, :${3:string}</string>
	<key>name</key>
	<string>Add Column</string>
	<key>scope</key>
	<string>source.ruby.rails</string>
	<key>tabTrigger</key>
	<string>mcol</string>
	<key>uuid</key>
	<string>0D8DA40B-0652-42E8-AB20-5B6847DC2F11</string>
</dict>
</plist>
