<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>remove_column :${1:table}, :${2:column}</string>
	<key>name</key>
	<string>Remove Column</string>
	<key>scope</key>
	<string>source.ruby.rails</string>
	<key>tabTrigger</key>
	<string>mcol</string>
	<key>uuid</key>
	<string>F0A39EAD-6D01-437B-9A79-468E0571CB3D</string>
</dict>
</plist>
