<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>render_component :controller =&gt; "${1:items}", :action =&gt; "${2:index}"</string>
	<key>name</key>
	<string>render_component (controller, action)</string>
	<key>scope</key>
	<string>source.ruby.rails</string>
	<key>tabTrigger</key>
	<string>rceca</string>
	<key>uuid</key>
	<string>060DC5CD-84C6-11D9-A094-000D932CD5BA</string>
</dict>
</plist>
